@import "tailwindcss";

@theme {
  /* This maps your Glacial variable to the default sans-serif font */
  --font-sans: var(--font-glacial);
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
}