@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-glacial), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-glacial), ui-sans-serif, system-ui, sans-serif;
}
